<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            Location Information
        </div>
        <div class="item item-text-wrap">
            <h2>Our Address</h2>
            <div>121, Clear Water Bay Road<br>
				Clear Water Bay, Kowloon<br>
				HONG KONG<br>
				<span><i class="icon ion-android-call"></i>: +123 456 789</span><br>
				<span><i class="icon ion-printer"></i>: +987 654 321</span><br>
				<span><i class="icon ion-email"></i>: <a href="#">confusion@food.net</a></span><br>
			</div>
        </div>
        <div class="button-bar">
			  <a class="button button-positive icon-left ion-android-call">Call</a>
			  <a class="button button-calm icon-left ion-social-skype">Skype</a>
			  <a class="button button-balanced icon-left ion-email">Email</a>
			</div>
    </div>
  </ion-content>
</ion-view>
